html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: #d3b7f3;
  font-family: Lato, sans-serif;
  color: #4e4e4e;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {}

a {
  text-decoration: none;
  color: inherit
}



.highlight-inline {
  display: inline;
  background-color: black;
  color: white;
  padding: 2px;
  line-height: 1.62em;
  /* box-shadow: 10px 0 0 black, -10px 0 0 black;*/
  
  box-decoration-break: clone;
}

#header {
  position: fixed;
  width: 125px;
  background: rgb(31, 60, 78);
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.25);
  color: rgb(0 171 255);
}

#primary-nav{
    
    line-height:25px
    
}

#header ul {
  list-style-type: none;
  width: inherit;
}

#header ul li {
  padding-right: 30px ;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

footer{
  display: grid;
  align-items: center;
  width: 35px;
  line-height:50px
  
}
a:hover{
  color: #F76E11;
}

#logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px auto;
  background: #DEBF0D;
  text-align: center;
  font-size: 36px;
  line-height: 98px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#logo:hover {
  background: #eb8787;
}

#content {
  font-size: 1.20em;
  font-weight: 300;
  background: #dac0f8;
  margin-left: 126px;
  padding-left: 0em;
  font-family: 'Times New Roman', Times, serif;

}
#hi{
  padding-left: 400px;
  padding-top: 00px;
}

#span {

  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  letter-spacing: 0;
  text-decoration: underline;


  text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

/* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;

}


/* Animate Background Image */

@-webkit-keyframes aitf {
0% { background-position: 0% 50%; }
100% { background-position: 100% 50%; }
}
#hero {
 
  height: 420px;
  color: #1857cc;
  font-size: 1.6em;
  text-align: right;
  
}
#coder{
  width: 33%;
  height: 100%;
  background-color: #dac0f8;
  float: left;
  
  padding-top: 100px;
  padding-right: 10px;
  font-family: 'Times New Roman', Times, serif;
}
:root {
  --bg-color: #dac0f8;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 24;
}


#hi{
  position: relative;
  font-size: 60px;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
}

#h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  width: max-content;
  padding-left: 40px;
}

#h1::before,
#h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

#h1::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: hsl(0 0% 0% / 0.7);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#yt-link {
  position: absolute;
  bottom: 2em;
  width: 100%;
  color: hsl(0 0 0 / 0.7);

  &:hover,
  &:focus {
    color: teal;
  }
}

#center_img{
  width: 33%;
  float: left;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
#ml{
  width: 33%;
  height: 100%;
  background-color: #dac0f8;
  float: left;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 100px;
  
}
#projects{
    margin-top: 71px;
    color: black;
    width: 100%;
    height: 100px;
    background-color: #DEBF0D;
    font-size: 80px;
    align-items: center;
    padding-left: 44%;
    font-family: 'Times New Roman', Times, serif;
}


.project-gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em;
  
  justify-content: center;
  margin-left: 11%;
}

.gallery-item {
  width: 300px;
  height: 300px;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  background-size: cover;
}

.gallery-item:not(:last-child) { margin-bottom: 2rem; }

.gallery-item .overlay { opacity: 0; transition: opacity .15s ease-in; }
.gallery-item:hover  .overlay, .gallery-item:focus  .overlay, .gallery-item:active .overlay { opacity: 1; transition: opacity .15s ease-in; }

.overlay {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0; left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(133, 20, 75, 0.75);
}

.overlay * {
  max-width: 15em;
  color: #fff;
}
.overlay a {
  text-decoration: none;
}
.overlay-item--button {
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 0.5em;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.875em;
}
.overlay-item--button:hover,
.overlay-item--button:focus,
.overlay-item--button:active {
  background: #fff;
  color: #85144b;
}

@media (min-width: 32em) {
}

@media (min-width: 64em) {
  .gallery-item:not(:last-child) { margin-right: 16px; margin-bottom: 0; }
  .project-gallery { flex-direction: row; }
}
body{
margin: 0;
padding: 0;
background: #1ed3d0;
}
.scroll-down
{
  padding-left: 8%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.scroll-down span:nth-child(2)
{
  animation-delay: -0.2s;
}
.scroll-down span:nth-child(3)
{
  animation-delay: -0.4s;
}
.scroll-down span
{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid rgb(0, 0, 0);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
@keyframes animate
{
  0%
{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%
{
      opacity: 1;
  }
  100%
{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
@media screen and (max-width: 640px) {
  #header {
    height: 125px;
    display: table;
    width: 100%;
  }
  #header ul li {
    display: inline;
  }
  #content  {
    margin-left: 0;
    margin-top: 125px;
  }
}
/*   SKILLS     */
#skills {
  
  color: black;
  width: 100%;
  height: 100px;
  background-color: #DEBF0D;
  font-size: 100px;
  
  padding-left: 44%;
  font-family: 'Times New Roman', Times, serif;
}



#skills_box{
  padding-left: 10%;
  padding-right: 10%;
  background-color: #d3b7f3;
  padding-bottom: 50px;
}


.skill-set__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.skill-set__list {
  width: 47%;
}
ol, ul {
  list-style: none;
}

.skill-set__item {
/*     margin-top: 6.4rem; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.skill-set__icon {
  width: 10.6382%;
  -ms-flex-item-align: center;
  align-self: center;
}
#skills_box img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.skill-set__detail {
  width: 80.1063%;
}
.skill-set__meta {
  margin-bottom: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.skill-set__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.small-title {
  font-size: 2.4rem;
  color: #072142;
  letter-spacing: 0.2em;
  line-height: 1.2;
  font-family: "futura_de";
}
.skill-set__year {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #c0c5ca;
  margin-left: 0.8rem;
  letter-spacing: 0.2em;
}
.skill-set__high {
  color: #ff4d5a;
}
.small-title {
  font-size: 2.0rem;
  color: #072142;
  letter-spacing: 0.2em;
  line-height: 1.0;
  font-family: "futura_de";
}
skill-set__ratio {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #072142;
}
.skill-set__bar {
  width: 100%;
  height: 1.4rem;
  background: #fff;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
  box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}
.skill-set__bar:after {
  -webkit-animation: ratio90 1.5s forwards;
  animation: ratio90 1.5s forwards;
}
.skill-set__bar:after {
  background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a));
  background-image: -webkit-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
  background-image: -o-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}

.skill-set__bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  
}
/*     progress bar percentage */
.p60:after{
width: 60%;
}
.p70:after{
width: 70%;
}
.p80:after{
width: 80%;
}
.p90:after{
width: 90%;
}
.p50:after{
width: 50%;
}



#iframe{

height: 400px;
width: 550px; 
}

#last{
margin-top: 700px;
background-color: #000;
height: 20px;
font-size: 15px;
text-align: right;
}

/*     Contact Form */
#contact {
width: 450px;
height: 500px;
margin-left: 17%;
float: left;
margin-top: 190px;
margin-bottom: 20px;
background-color: rgb(255, 255, 255);
border: rgb(155, 150, 150);
border-style: solid;
outline: 3px solid rgb(95, 94, 94);

}

#form1{
width: 444px;
height: 448px;
}

/* card */
#card {
width: 40%;
height: 300px;
background-color: grey;
float: left;
margin-left: 8%;
margin-top: 190px;
margin-right: 10px;
}
#l-card{
width: 40%;
background-color: #072142;
height: 100%;
float: left;
}

.wrapper{
top: 0;
left:0;
right: 0;
bottom: 0;
margin: auto;
text-align: center;
width: 200px;
height: 200px;
}
.circle{
border-radius: 100%;
width: 100px;
height: 100px;
border: 1px solid #32AAEE;
display: block;
box-shadow: 0px 10px 5px #32AAEE;
cursor: pointer;
margin-top: 60px;
margin-left: 50px;

}
#text{
font: Arial;
font-size: 70px;
font-weight: solid;
color: #32AAEE;    
}

#r-card{
width: 60%;
background-color: #f1f4f8;
height: 100%;
float: left;

border: 7px solid #072142;
border-spacing: 15px;
}
#info{
width: 25px;
height: 25px;
margin-left: 50px;

}
#if{
font-size: 15px;
margin-left: 10px;
}